<%= stylesheet_link_tag "proyect", "data-turbo-track": "reload" %>

<h1>Home#project</h1>

<p>Find me in app/views/home/project.html.erb</p>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <%= image_tag 'cupon-1.jpg', class: 'profile_img'  %>
  <div class="card-body">
    <h5 class="card-title">CUPONATIC</h5>
    <p class="card-text"> Este projecto corresponde a una pagina web de Cuponatic.</p>
    <a href="#" class="btn btn-primary"> Ver Mas</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <%= image_tag 'principal.jpg', class: 'profile_img' %>
  <div class="card-body">
    <h5 class="card-title"> Pizzeria</h5>
    <p class="card-text"> Esta pagina web corresponde al de una Pizzeria</p>
    <a href="#" class="btn btn-primary"> Ver Mas</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <%= image_tag 'machine-learning.jpg', class: 'profile_img' %>
  <div class="card-body">
    <h5 class="card-title"> Meet&Cofee</h5>
    <p class="card-text">Es una pagina web de una cafeteria que puedes reunirte a trabajar.
    </p>
    <a href="#" class="btn btn-primary"> Ver Mas</a>
  </div>
</div>
    </div>
  </div>
</div>